*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

header{
  text-align: center;
  padding: 20px 0;
  background-color: #f8f8f8;
  font-size: 2em;
  color: #e06666;
  font-weight: bold;
  position: relative;
}

.images-header{
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.images-header img{
  height: 75px;
  vertical-align: middle;
}

.calendrier{
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

.jours, .case-jour{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.nom-jour{
  text-align: center;
  padding: 10px 0;
  background-color: #f1f1f1;
  font-weight: bold;
  border: 1px solid #ddd;
}

.jour, .empty{
  border: 1px solid #eee;
  text-align: right;
  padding: 8px 10px;
  font-size: 1em;
  background-color: white;
}

.jour:hover{
  background-color: #ffecec;
  cursor: pointer;
}

.case-jour{
  height: 100%;
  grid-auto-rows: 1fr;
}
